version: "3.8"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    container_name: zookeeper
    restart: always
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: "512M"
        reservations:
          cpus: "0.25"
          memory: "256M"

  kafka:
    image: confluentinc/cp-kafka:7.3.0
    container_name: kafka
    restart: always
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_NUM_PARTITIONS: 3
    ports:
      - "9092:9092"
    volumes:
      - kafka-data:/var/lib/kafka/data
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: "1G"
        reservations:
          cpus: "0.5"
          memory: "512M"

  daw-db:
    image: mysql:8.0
    container_name: daw-db
    restart: always
    environment:
      MYSQL_DATABASE: "dawFinalProject"
      MYSQL_USER: "joshua"
      MYSQL_PASSWORD: "linkia.2024"
      MYSQL_ROOT_PASSWORD: "usopp12*"
    ports:
      - "3307:3306" # Producción usa el puerto estándar
    volumes:
      - my-db:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 3
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: "1G"
        reservations:
          cpus: "0.5"
          memory: "512M"

  daw-backend:
    build: ./backend/dawFinalProject
    container_name: daw-backend
    ports:
      - "8081:8081"
      - "5005:5005"
    depends_on:
      daw-db:
        condition: service_healthy
      kafka:
        condition: service_started
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATASOURCE_URL: jdbc:mysql://daw-db:3306/dawFinalProject?useSSL=false&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: "joshua" # Cambiado a usuario no root
      SPRING_DATASOURCE_PASSWORD: "linkia.2024" # Cambiado a usuario no root
      SPRING_FLYWAY_PASSWORD: "linkia.2024" # Cambiado a usuario no root
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: "1G"
        reservations:
          cpus: "0.5"
          memory: "512M"

  daw-frontend:
    build:
      context: ./frontend
      args:
        REACT_APP_API_URL: "/api/"
    container_name: daw-frontend
    ports:
      - "3000:80" # Nginx sirve en el puerto 80 del contenedor
    depends_on:
      - daw-backend
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: "512M"
        reservations:
          cpus: "0.25"
          memory: "256M"

volumes:
  my-db:
  kafka-data:
